@use 'variables' as var;

.about-me-container{
    
    width: 300px;
    height: 300px;
    border-radius: 10px;
    margin: 0 auto;
    background-color: #d9e6e6dd;
    h2{
        height: 50px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
        text-align: center;
        font-family: var.$fontRubiks;
        font-size: 2rem;
        
    }

    p{
        font-family: var.$fontText;
        font-size: 1rem;
        padding: 20px;
        margin-top: 0;
    }
}