@use 'variables' as var;

*{
    box-sizing: border-box;
}

body{
    background-image: url("/Img/lake.jpg") ;
    background-size: cover;
    
    margin: 0;

    .header-and-main-container{
        height:fit-content ;
        max-width: 300px;
        background-color: rgba(24, 24, 24, 0.931);
        margin: 0 auto;
        border-radius: 10px;
    }
}

@media screen and (min-width: 500px){

    body{
        .header-and-main-container{
             max-width: 500px;
        }
    }
}

@media screen and (min-width: 1024px){

    body{
        .header-and-main-container{
             max-width: 850px;
        }
    }
}